@import "tailwindcss";

@theme {
    --color-light-primary: #F1F1F1;
    --color-light-secondary: #E9E9E9;
    --color-light-orange-medium: #fd8839;
    --color-light-orange: #fd9836;

    --color-dark-primary: #121212;
    --color-dark-secondary: #282828;
    --color-dark-orange-medium: #ffa366;
    --color-dark-orange: #ffaf65;
}


body {
    font-family: 'CodecPro', sans-serif !important;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'uni-neue';
    src: url('../../public/fonts/CodecPro-ExtraBold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
